<div class= "split left">
    <div class="centered">
        <img src="../../assets/img/SmartBonds.jpg">
    </div>
</div>
<div class="split right">
    <div class="centered">
        <h1>Iniciar sesión</h1>
        <form>
            <label for="Uname">Usuario:</label><br>
            <input class="textu" id="Uname" name="Uname" placeholder="Ingrese usuario"><br><br>
            <label for="Pname">Contraseña:</label><br>
            <input class="textp" id="Pname" name="Pname" placeholder="Ingrese contraseña">
        </form><br><br>
        <button class="button1">Ingresar</button><br><br>
        <button class="button2">Registrarse</button>
    </div>
</div>
