<h1 class="title">Smart Bonds</h1>
<section class="calculator">
    <div class="calculator__inputs">
        <h2>Bienvenido</h2>
        <form class="form__inputs">
            <div class="input">
                <label for="Uname">Valor nominal:</label>
                <input type="text" id="Uname" name="Uname" placeholder="Ingrese valor">
            </div>
            <div class="input">
                <label for="tname">Tasa:</label>
                <input type="text" id="tname" name="tname" placeholder="Ingrese tasa">
            </div>
            <div class="input">
                <label for="Pname">Periodo pago:</label>
                <select id="vname" name="venci">
                    <option value="value1">Anual</option>
                    <option value="value2">Semestral</option>
                    <option value="value3">Cuatrimestral</option>
                    <option value="value4">Trimestral</option>
                    <option value="value5">Bimestral</option>
                    <option value="value6"selected>Mensual</option>
                    <option value="value7">Quincenal</option>
                    <option value="value8">diaria</option>
                    </select>
                    
            </div>
            <div class="input">
                <label for="vname">Vencimiento:</label>
                <input type="text" id="vname" name="vname" placeholder="Ingrese tiempo de vencimiento">
            </div>
        </form>
        <a class="button">Calcular</a>
    </div>
    <div class="calculator__options">
        <form class="form__options">
            <div class="form__options__mount">
                <div class="input2">
                    <label for="Uname">Tipo de tasa:</label>
                    <label for="checkbox1"><input type="checkbox" id="checkbox1" name="checkbox1" value="Yes1"> Nominal </label>
                    <label for="checkbox3"><input type="checkbox" id="checkbox3" name="checkbox3" value="Yes1"> Efectivo </label>
                </div>
                <div class="input2">
                    <label for="Uname">Moneda:</label>
                    <label for="checkbox2"><input type="checkbox" id="checkbox2" name="checkbox2" value="Yes2"> Soles </label>
                    <label for="checkbox3"><input type="checkbox" id="checkbox3" name="checkbox3" value="Yes2"> Dolares </label>
                </div>
            </div>
            <div class="input3">
                <label for="Cname">Capitalizacion:</label><br>
                <select id="Cname" name="select2">
                    <option value="value1"selected>Anual</option>
                    <option value="value2">Semestral</option>
                    <option value="value3">Cuatrimestral</option>
                    <option value="value4">Trimestral</option>
                    <option value="value5">Bimestral</option>
                    <option value="value6">Mensual</option>
                    <option value="value7">Quincenal</option>
                    <option value="value8">diaria</option>
                </select>
            </div>
        </form>    
    </div>
</section>

<!-- 
<body>
     <h1 class="title">Potito</h1>
</body>
<div class= "split left">
    <h6>Bienvenido</h6>
        <form>
            <label for="Uname">Valor nominal:<span class="tab"></span></label>
            <label for="tname">Tasa:</label><br>
            <input type="text" id="Uname" name="Uname" placeholder="Ingrese valor">&nbsp;
            <input type="text" id="tname" name="tname" placeholder="Ingrese tasa"><br><br>
            <label for="Pname">Periodo pago:<span class="tab"></span></label>
            <label for="vname">Vencimiento:</label><br>
            <select id="vname" name="venci">
                <option value="value1">Anual</option>
                <option value="value2">Semestral</option>
                <option value="value3">Cuatrimestral</option>
                <option value="value4">Trimestral</option>
                <option value="value5">Bimestral</option>
                <option value="value6"selected>Mensual</option>
                <option value="value7">Quincenal</option>
                <option value="value8">diaria</option>
                </select>
                &nbsp;
            <input type="text" id="vname" name="vname" placeholder="Ingrese tiempo de vencimiento"><br><br>
        </form><br>
        <button class="button1">Calcular</button><br><br>
</div>

<div class="split right">
    <div class="centered2">
        <li>
            <form>
                <label for="Uname">Tipo de tasa:<span class="tab2"></span>Moneda</label><br>
             <input type="checkbox" id="checkbox1" name="checkbox1" value="Yes1">
                <label for="checkbox1"> Nominal</label><span class="tab2"></span>
                <input type="checkbox" id="checkbox2" name="checkbox2" value="Yes2">
             <label for="checkbox2"> Soles</label><br>
             <input type="checkbox" id="checkbox3" name="checkbox3" value="Yes1">
             <label for="checkbox3"> Efectivo</label><span class="tab2"></span>
             <input type="checkbox" id="checkbox3" name="checkbox3" value="Yes2">
             <label for="checkbox3"> Dolares</label><br>
             <label for="Cname">Capitalizacion:</label><br>
             <select id="Cname" name="select2">
                <option value="value1"selected>Anual</option>
                <option value="value2">Semestral</option>
                <option value="value3">Cuatrimestral</option>
                <option value="value4">Trimestral</option>
                <option value="value5">Bimestral</option>
                <option value="value6">Mensual</option>
                <option value="value7">Quincenal</option>
                <option value="value8">diaria</option>
              </select>
            </form>
        </li>
        

    </div> 
</div> 
 -->


